<%= simple_form_for(@approval) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :borrow_request %>
    <%= f.association :user %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
