<%= simple_form_for(@thing) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image, label: "Upload an image" %>
    <%= f.input :image_remote_url, label: "or enter a URL" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
