<div class="thingBrief">
    <%= render :partial => "image", :locals => { :thing => thing } %>
    <div class="info">
        <h4><%= link_to thing.name, thing_path(thing.id) %></h4>
    </div>
    <div class="holder">
        <% if(thing.holder != current_user) %>
            Held by: <%= link_to thing.holder.name, thing.holder %>
        <% end %>
    </div>

    <div class="owners">
        Owners: 
        <%= 
            thing.users.map {
                |user|
                link_to(user.name, user_path(user.id)) 
            }.join(', ').html_safe 
        %>
    </div>

    <% if(BorrowRequest.request_valid?(thing, current_user)) %>
        <%= link_to(
            "Borrow",
            borrow_requests_path(
                :borrow_request => {
                    :thing_id => thing.id,
                    :user_id => current_user.id
                },
                :source_path => ''
            ),
            :class => "btn",
            :method => "post"
        ) %>
    <% 
        elsif(BorrowRequest.request_actionable?(thing, current_user)) 
            request = BorrowRequest.most_recent_actionable(thing, current_user)
    %>
            Request Status:
            <ul>
                <% request.approvals.each do |approval| %>
                    <li><%= render(approval) %></li>
                <% end %>
            </ul>
            <%= status_actions(request) %>
    <% end %>
</div>