<div class="thing-brief box">
    <%= render :partial => "/things/image", :locals => { :thing => thing } %>
    <div class="info">
        <h4><%= link_to thing.name, thing_path(thing.id) %></h4>
    </div>
    <div class="holder">
        <% if(thing.holder != current_user) %>
            Held by: <%= link_to thing.holder.name, thing.holder %>
        <% end %>
    </div>

    <div class="owners">
        Owners: 
        <%= 
            thing.users.map {
                |user|
                link_to(user.name, user_path(user.id)) 
            }.join(', ').html_safe 
        %>
    </div>

    <% if(BorrowRequest.request_valid?(thing, current_user)) %>
        <div class="actions">
            <%= link_to(
                "Borrow",
                borrow_requests_path(
                    :borrow_request => {
                        :thing_id => thing.id,
                        :user_id => current_user.id
                    },
                    :source_path => ''
                ),
                :class => "btn btn-primary",
                :method => "post"
            ) %>
        </div>
    <% 
        elsif(BorrowRequest.request_actionable?(thing, current_user)) 
            request = BorrowRequest.most_recent_actionable(thing, current_user)
    %>
            <h5><%= status_icon(request.status) %> <%= link_to request.status, request %></h5>
            <%= render :partial => "/borrow_requests/approval_list_brief", :locals => { :borrow_request => request } %>
            <div class="actions">
                <%= status_actions(request) %>
            </div>
    <% end %>
</div>