<%= render @thing %>

<div class="details">
    Added: <%= @thing.created_at %>
</div>

<div class="history">
    <%= render @thing.transfers %>
</div>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
