<%= render :partial => "thing", :locals => {:thing => @thing} %>

<div class="details">
    Added: <%= @thing.created_at %>
</div>

<div class="history">
    <% @thing.transfers.each do |transfer| %>
        <%= render :partial => "transfers/transfer_brief", :locals => {:transfer => transfer} %>
    <% end %>
</div>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
