<%= render @thing %>

<div class="details">
    Added: <%= time_ago_in_words @thing.created_at %> ago
</div>

<div class="history">
    <h4>Transfer History</h4>
    <%= render @thing.transfers.order('datetime desc') %>
</div>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
