<h1>Listing stakes</h1>

<table>
  <tr>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stakes.each do |stake| %>
  <tr>
    <td><%= stake.amount %></td>
    <td><%= link_to 'Show', stake %></td>
    <td><%= link_to 'Edit', edit_stake_path(stake) %></td>
    <td><%= link_to 'Destroy', stake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stake', new_stake_path %>
