<h1>Listing transfers</h1>

<table>
  <tr>
    <th>Datetime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transfers.each do |transfer| %>
  <tr>
    <td><%= transfer.datetime %></td>
    <td><%= link_to 'Show', transfer %></td>
    <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
    <td><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transfer', new_transfer_path %>
