<div class="borrowRequest">
    <h4><%= status_icon(borrow_request.status) %> <%= link_to borrow_request.thing.name, borrow_request %> - <%= borrow_request.status %></h4>
    <div class="approvals">
        <ul>
        <% borrow_request.approvals.each do |approval| %>
            <li><%= render  approval %></li>
        <% end %>
        </ul>
    </div>
    <%= status_actions(borrow_request) %>
</div>