<div class="borrowRequest box">
    <%= render :partial => '/things/image', :locals => { :thing => borrow_request.thing } %>
    <h4><%= link_to borrow_request.thing.name, borrow_request %></h4>
    <h5><%= status_icon(borrow_request.status) %> <%= borrow_request.status %></h5>

    <div class="approvals">
        <ul>
        <% borrow_request.approvals.each do |approval| %>
            <li><%= render  approval %></li>
        <% end %>
        </ul>
    </div>
    <div class="actions">
        <%= status_actions(borrow_request) %>
    </div>
</div>