<% if @pending_approvals.length != 0 %>
    <h2>Awaiting Your Approval</h2>
    <div class="masonry">
    <% @pending_approvals.each do |approval| %>
        <div class="box">
            <%= render :partial => '/things/image', :locals => { :thing => approval.thing } %>
            <div>
                <%= link_to approval.borrower.name, approval.borrower %> wants to borrow your <%= link_to approval.thing.name, approval.thing %>
            </div>
            <div class="approval-prompt btn-group">
                <%= link_to '<i class="icon-thumbs-up"></i> Approve'.html_safe,
                    approval_path(approval, :approval => { :status => "approved"}),
                    :class => "btn",
                    :method => "put" 
                %>
                <%= link_to '<i class="icon-thumbs-down"></i> Reject'.html_safe,
                    approval_path(approval, :approval => { :status => "rejected"}),
                    :class => "btn",
                    :method => "put",
                    data: { confirm: 'Are you sure?'}
                %>
            </div>
        </div>
    <% end %>
    </div>
<% end %>

<h2>Your Requests</h2>
<div class="masonry">
    <%= render(@borrow_requests) || "<p>You don't have any outgoing requests.</p>".html_safe %>
</div>